nav {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to left, #057ffa, #47f701);
    /* // background-image: url("/assets/bg_space.png");
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-attachment: fixed; 
    // background-position: center;
    // background-position:50% 50%; */
}
nav a {
      color: white;
      margin: 1em;
      text-decoration: none;
      font-weight: bold;
    }
nav .active {
      border-bottom: dotted 1px black;
      border-top: dotted 1px black;
      /* // padding-top: 2px; */
    }

nav .logo{
        align-self: flex-start;
        margin-left: 20px;
    }
.login, .register {
    padding: 5px;
} 